<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home_page</title>
</head>
<body>
    {% for category in categoryes %}
    <a href="{% url 'category' category.slug %}"><p>{{ category.name }}</p></a>
    {% endfor %}
    <hr>
    {% for post in post_list %}
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <p>{{ post.mini_text }}</p>
        <ul>
            {% for tag in post.tags.all %}
                {% if tag.published %}
                    <li>
                        <p><a href="{% url 'tag_view' tag.slug %}">{{ tag }}</a></p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <small>{{ post.published_date }}</small>
    {% endfor %}
</body>
</html>