<!DOCTYPE html> {% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts_list</title>
    {% load blog_tags %}
</head>
<body>
<!--    {% for category in categoryes %}-->
<!--    <a href="{% url 'category' category.slug %}"><p>{{ category.name }}</p></a>-->
<!--    {% endfor %}-->
<!--    <hr>-->

    {% totlat_categoryes as queries %}
        {% for category in queries %}
            <p><a href="{{ category.get_absolute_url }}">{{ category }}</a></p>
        {% endfor %}

    <hr>

    {% if post_list %}
        {% for post in post_list %}
            <h2><a href="{{ post.get_absolute_url }}">{{ post }}</a></h2>
            <p>{{ post.mini_text }}</p>
            <small>Дата публикации - {{ post.published_date }}</small>
            <small>Просмотров - {{ post.viewd }}</small><br>
            <small>Комментариев - {{ post.get_comments_count }}</small>
        {% endfor %}
    {% else %}
        <h2>Статей в дданной категории нет</h2>
    {% endif %}
    </div>
</body>
</html>