<!DOCTYPE html>
{% load blog_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts_list</title>
    {% load blog_tags %}
</head>
<body>
<!--    {% for_category_list order='id' count=3 as categoryes %}-->
<!--        {% for category in categoryes %}-->
<!--            <p><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></p>-->
<!--        {% endfor %}-->
<!--    <hr>-->
    {% category_list count=3 template='base/blog/categoryes_v2.html' %}

    {% if post_list %}
        {% for post in post_list %}
            <h2><a href="{{ post.get_absolute_url }}">{{ post }}</a></h2>
            <p>{{ post.mini_text }}</p>
            <small>Дата публикации - {{ post.published_date }}</small>
            <small>Просмотров - {{ post.viewd }}</small><br>
            <small>Комментариев - {{ post.get_comments_count }}</small>
        {% endfor %}
    {% else %}
        <h2>Статей в дданной категории нет</h2>
    {% endif %}

</body>
</html>