<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post_detail</title>
</head>
<body>
    {% for category in categoryes %}
    <a href="{% url 'category' category.slug %}"><p>{{ category.name }}</p></a>
    {% endfor %}
    <hr>
        <h2>{{ post.title }}</h2>
        <p>{{ post.mini_text }}</p>
        <p>Категория - {{ post.category.name }}</p>
        <small>Автор: {{ post.author }} - {{ post.published_date }}</small>
    <hr>
    <h3>Комментарии</h3>
</body>
</html>
